# Required Authentication Token 
OPENAI_API_KEY=your-key-here
GITHUB_TOKEN=your-token-here
USER_NAME=your-github-username
DISCORD_WEBHOOK_URL=your-discord-webhook
SLACK_WEBHOOK_URL=your-slack-webhook
SNYK_TOKEN=your_token_here

# Server URL
LOG_API_URL=https://autofic-core-kmw6.onrender.com/